@import url('https://fonts.google.com/specimen/Playfair+Display');

header{
    background: url(./roses.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'playfair', cursive;
    text-align: center;
    color: #eff1f3;
    
}

body nav {
    justify-content: space-around;
    display: flex;
    padding: 1.0em;
    text-decoration: none;
    background-color: black;
}

body nav a:hover {
    color: rgb(255, 255, 255);
    transform: scale(150%);
}

nav a {
    color: rgb(125, 72, 209);
    font-size: x-large;
}

main a {
    color: rgb(252, 244, 244);
}

h2 {
    font-family: 'inconsolata', cursive;
    text-align: center;
    
    color: rgb(65, 100, 189);
}

h3 {
    font-family: 'inconsolata', cursive;
    text-align: center;
    color: white;
    font-size: x-large;
}

body {
    font-family: 'inconsolata';
    font-size: medium;
    background-color: rgb(212, 145, 64);
}

p:nth-child(2) {
   color: black;
}